# ===== GLOBAL (All Microservices) =======

# Maven / Gradle
**/target/
**/*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
**/.env
**/.env.*


# ===== IDEs =============================

# IntelliJ IDEA
**/.idea/
**/*.iml

# Eclipse / STS
**/.classpath
**/.project
**/.settings/
**/src/main/resources/
**/bin/

# ===== Metadata =========================

.metadata/
.recommenders/
