# ===== GLOBAL (All Microservices) =======

# Maven / Gradle
**/target/
**/*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
**/.env
**/.env.*
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local


# ===== IDEs =============================

# VS Code
.vscode/
**/.vscode/

# IntelliJ IDEA
**/.idea/
**/*.iml

# Eclipse / STS
**/.classpath
**/.project
**/.settings/
**/bin/

# ===== Node / Frontend ==================
**/node_modules/
**/dist/
**/build/
.npm
**/.eslintcache
**/.stylelintcache
**/.vite-inspect
**/*.local

# ===== Metadata =========================

.metadata/
.recommenders/
