server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**

jwt:
  secret: carecircle-auth-secret-key-which-is-at-least-32-bytes-long